body {
    background: rgb(46, 58, 32);
}

.bottom button{
    text-align: left;
    border:none;
    font-size: 24px;
    text-transform: uppercase;
    background-color: rgb(199, 202, 201);
    font-weight: 900;
}